{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SolarAdvantage</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
    <div class="header">
        <h1 class="site-name"><a href="#">SolarAdvantage</a></h1>
        <div class="account">
            <p>Your Account</p>
            <button>V</button>
        </div>
    </div>
    <div class="content">
        <div class="container sa">
            <h2 style="color: white;">Location name placeholder</h2>
        </div>
        <div class="container">

        </div>
    </div>

</body>

</html>