<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SolarAdvantage</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    <div class="header">
        <h1>SolarAdvantage</h1>
        <p>Your Account</p>
    </div>
    <div class="content">

    </div>
    <div class="container">

    </div>


    <script src="index.js"></script>
</body>

</html>