{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SolarAdvantage</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
    <div class="header">
        <h1 class="site-name"><a href="#">SolarAdvantage</a></h1>
        <div class="account">
            <p>Your Account</p>
            <button>V</button>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="search-area">
                <p>CHECK THE LATEST INFORMATION IN YOUR AREA</p>
                <p>Get stats on the solar advantage in your area.</p>
                <input placeholder="Enter location e.g. LS10 1EU or Victoria Ave">
                <button>GO</button>
            </div>
        </div>
        <div class="container">
            <div class="information">
                <h2>What We Provide</h2>
                <p>SolarAdvantage pulls together in-depth information about the advantages and cost of solar energy in
                    your area. We aim to provide easy to understand analytics to help you understand the potential gain
                    investing in solar power and if it's the right choice for you. Decisions are based on weather data
                    in the area over the past decade and an estimation of kWh per day of potential energy generation. We
                    then compare this to energy costs in the area.</p>
                <h2>Why is Solar Energy so Important?</h2>
                <p>No greenhouse gas emissions are released into the atmosphere when you use solar panels to create
                    electricity. And because the sun provides more energy than we'll ever need, electricity from solar
                    power is a very important energy source in the move to clean energy production.</p>
                <ul>
                    <li>Gives you control over your electricity</li>
                    <li>Provides clean, renewable energy</li>
                    <li>Increases home value</li>
                    <li>Qualifies for tax breaks and cash incentives</li>
                    <li>Costs have fallen</li>
                </ul>
                <h2>Other Factors</h2>
                <p>As we've mentioned in a previous blog, investing in home solar panels is a bit like buying a car.
                    Rooftop solar panels are a sizable investment. But, if you do your research, test drive a few, and
                    make a smart and informed decision, your investment will provide great returns for many years.</p>
            </div>
        </div>
    </div>
</body>

</html>